<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Recipe</title>

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">

    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script crossorigin="anonymous" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="container">
                    <div class="row bg-info">

                        <div class="card-title col-10 bg-info">
                            <h3 class="text-white" th:text="${recipe.description}">Recipe Description Here!</h3>
                        </div>
                        <div class="col-2 align-self-center">
                            <a href="#" class="btn btn-sm btn-primary"
                               th:href="@{'/recipe/' + ${recipe.id} + '/image'}" role="button">
                                Change Image
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Categories:</h5>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li th:each="category : ${recipe.categories}"
                                        th:text="${category.getDescription()}">cat three
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <img src="../../static/images/guacamole400x400WithX.jpg"
                                     th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}"
                                     width="200" height="200">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Prep Time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${(recipe.prepTime) + ' Min'}">30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Difficulty:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.difficulty}">Easy</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Cooktime:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${(recipe.cookTime) + ' Min'}">30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Servings:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.servings}">4</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Source:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.source}">30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>URL:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.url}">http://www.example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card md-3">
                    <div class="card-title bg-info">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="text-white" style="padding-left: 10px">Ingredients</h3>
                            </div>
                            <div class="col-md-2 align-self-center">
                                <a class="btn btn-primary btn-sm" href="#" th:href="@{'/recipe/'
                                + ${recipe.id} + '/ingredients'}" role="button">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li th:each="ingriedient : ${recipe.ingredients}" th:text="${(ingriedient.getAmount()
                                    + ' ' + ingriedient.uom.getDescription() + ' - ' + ingriedient.getDescription())}">1
                                        Cup of milk
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-title bg-info">
                        <h3 class="text-white" style="padding-left: 10px;">Directions</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${recipe.directions}">description</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-title bg-info">
                        <h3 class="text-white" style="padding-left: 10px">Notes</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${recipe.notes.getRecipeNotes()}">notes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>