<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Recipe</title>

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">

    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script crossorigin="anonymous" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row justify-content-center">
        <div class="col-6">
            <form th:object="${ingredient}" th:action="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient'}" method="post">
                <input type="hidden" th:field="*{id}"/>

                    <div class="card card-title bg-info">
                        <h3 class="text-white" style="padding-left: 10px">Edit Ingredient Information</h3>
                    </div>
                    <div class="card card-body">

                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Description:</label>
                                <input type="text" class="form-control" th:field="*{description}"/>
                            </div>

                            <div class="col-md-3 form-group">
                                <label>Amount:</label>
                                <input type="number" class="form-control" th:field="*{amount}"/>
                            </div>

                            <div class="col-md-3 form-group">
                                <label>UOM:</label>
                                <select class="form-control" name="unitOfMeasureCommand.id">
                                    <option th:each="uomEach : ${uomList}"
                                            th:value="${uomEach.id}"
                                            th:selected="${uomEach.id.equals(ingredient.unitOfMeasureCommand.id)}"
                                            th:text="${uomEach.description}">Each
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>

    </div>
</div>

</body>
</html>